<a href="https://colab.research.google.com/github/XimeeeRJ/THC-XRJ/blob/main/Clase_4_THC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Imprimir los números del 1 al 10

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i < 11:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

Suma de los primeros 50 números naturales

In [ ]:
suma = 0
for i in range(1, 51):
  suma += i
print(suma)

1275

In [ ]:
suma = 0
i = 1
while i < 51:
  suma += i
  i += 1
print(suma)

1275

Cálcular el factorial de un número dado

In [ ]:
numero = int(input("Ingrese un número: "))
factorial = 1
for i in range(1, numero + 1):
  factorial *= i
print(factorial)

Ingrese un número: 5
120

In [ ]:
for i in range(0, 101, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(101):
  if (i % 2) == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
frutas=["manzana", "pera", "naranaja", "uva"]

In [ ]:
if "guayaba" in frutas:
  print("Si, esta en la lista")
print("No, la guayaba no esta en la lista")

No, la guayaba no esta en la lista

Suma de elementos

In [ ]:
lista = [5, 10, 15, 20]
suma = 0
for i in lista:
  suma += i
print(suma)

50