<a href="https://colab.research.google.com/github/XimeeeRJ/THC-XRJ/blob/Tareas/Clase_5_THC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios de Clase

In [ ]:
"""
Alumna: Rodríguez Jaramillo Ximena
Ejercicios de la clase 10/10/2023
"""
#Definir los vectores A y B
A = [1, 2, 3, 4]
B = [5, 6, 7, 8]#Función para la suma de vectores
def suma_vec(A,B):

  #Comparar la longitud de los vectores
  if len(A) == len(B):
    n = len(A)
    #Crear la lista donde se va a agregar la suma de los vectores
    C = []
    for i in range(n):
      C.append(A[i] + B[i])
    return C

resultado = suma_vec(A,B)
print(resultado)

[6, 8, 10, 12]

In [ ]:
#Producto punto
A = [1, 2, 3]
B = [4, 5, 6]

# Funcion para el producto punto
def prod_pun(A,B):

  # Comparar la longitud de los vectores
  if len(A) == len(B):
    n = len(A)

  #Calcular el producto punto
  producto = 0
  for i in range(n):
    producto += A[i]*B[i]
  return producto

resultado = prod_pun(A,B)
print(resultado)

32

Notas de la clase.

In [ ]:
#Diccionarios

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
diccionario = {"python" : 2.7, "zope" : 2.13, "plone" : 5.7}
l = []
for i in diccionario.keys():
  l.append(diccionario[i])
print(l)

[2.7, 2.13, 5.7]

In [ ]:
import pandas as pd
#Crear un diccionario con datos
datos = {
    "Nombre" : ["Juan", "Maria", "Pedro", "Luisa"],
    "Edad" : [25, 28, 22, 30],
    "Ciudad" : ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

#Crea un data friend a partir del diccionario
dataframe = pd.DataFrame(datos)

#Mostrar el Dataframe
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  Maria    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
#Crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [ ]:
print(mi_tupla[4])

True

In [ ]:
frutas = ("fresa", "mango", "tuna")
for fruta in frutas:
  print(fruta)

fresa
mango
tuna

In [ ]:
frutas = ("fresa", "mango", "tuna")
if "manzana" in frutas:
  print("Esta en la tupla")
else:
  print("No esta en la tupla")

No esta en la tupla

In [ ]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [ ]:
def mi_funcion_nueva(fname):
  print("Hola"+ fname +"te saludo desde la funcion")

In [ ]:
def Nombre(fname,lname):
  print("Hola " +fname+ " "+ lname+ " te saludo desde la fucion")
Nombre("Xime", "RJ")

Hola Xime RJ te saludo desde la fucion

In [ ]:
def mi_funcion(*kids):
  print("El niño menor es " + kids[2])

mi_funcion("Emilio", "Tobias", "Irving", "Linus")

El niño menor es Irving

In [ ]:
def mi_funcion(niño3, niño2, niño1):
  print("El niño menor es " + niño3)

mi_funcion(niño1 = "Emil", niño2 = "Tobias", niño3 = "Linus")

El niño menor es Linus

In [ ]:
def mi_funcion(pais="México"):
  print("Yo soy de "+ pais)

mi_funcion()

Yo soy de México