<a href="https://colab.research.google.com/github/XimeeeRJ/THC-XRJ/blob/Tareas/Clase_5_THC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Diccionarios

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [3]:
diccionario = {"python" : 2.7, "zope" : 2.13, "plone" : 5.7}
l = []
for i in diccionario.keys():
  l.append(diccionario[i])
print(l)

[2.7, 2.13, 5.7]

In [4]:
import pandas as pd
#Crear un diccionario con datos
datos = {
    "Nombre" : ["Juan", "Maria", "Pedro", "Luisa"],
    "Edad" : [25, 28, 22, 30],
    "Ciudad" : ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

#Crea un data friend a partir del diccionario
dataframe = pd.DataFrame(datos)

#Mostrar el Dataframe
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  Maria    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [5]:
#Crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [6]:
print(mi_tupla[4])

True

In [7]:
frutas = ("fresa", "mango", "tuna")
for fruta in frutas:
  print(fruta)

fresa
mango
tuna

In [10]:
frutas = ("fresa", "mango", "tuna")
if "manzana" in frutas:
  print("Esta en la tupla")
else:
  print("No esta en la tupla")

No esta en la tupla

In [11]:
def mi_funcion():
  print("Hola, te saludo desde la funci√≥n")